{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "semicolons":false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxSingleQuote": true
}
